* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "fff_forwardregular";
}

body {
  background-color: black;
}

body .browser {
  border-radius: 20px;
  width: 95vw;
  height: 95vh;
  background-color: #a8a8a8;
  background-image: url(./images/Knitted-Grey-Seamless-Pattern-For-Website-Background.webp);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  max-width: 1440px;
  max-height: 1000px;
}

body .browser .container {
  width: 100%;
  margin: auto;
}

body .browser .container .browser-top-edge {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px;
  background-color: white;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .browser .container .browser-top-edge .browser-opitions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
}

body .browser .container .browser-top-edge .browser-opitions div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

body .browser .container .browser-top-edge .browser-opitions div.red {
  background-color: red;
}

body .browser .container .browser-top-edge .browser-opitions div.green {
  background-color: green;
}

body .browser .container .browser-top-edge .browser-opitions div.blue {
  background-color: blue;
}

body .browser .container .browser-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .browser .container .browser-body .screen {
  border: 2px solid white;
  -webkit-box-shadow: 2px 0px 2px black;
          box-shadow: 2px 0px 2px black;
  max-width: 1000px;
  height: 650px;
  background-color: #add7e0;
  width: 70%;
  position: relative;
}

body .browser .container .browser-body .screen .my-work {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

body .browser .container .browser-body .screen .my-work .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 100%;
  width: 400%;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
  left: -100%;
}

body .browser .container .browser-body .screen .my-work .slider .project {
  margin: 0px 40px;
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .browser .container .browser-body .screen .my-work .slider .project a img {
  margin: 0px;
  width: 100%;
  height: 500px;
}

body .browser .container .browser-body .screen .my-work .slider .project p {
  padding: 10px;
  font-size: 2em;
  -webkit-animation: flickeringborder 2s infinite alternate;
          animation: flickeringborder 2s infinite alternate;
  border: 8px solid black;
}

body .browser .container .browser-body .screen .my-work .slider .project p a {
  color: black;
  text-decoration: none;
}

body .browser .container .browser-body .screen .slider-buttons {
  width: 104%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: -2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .browser .container .browser-body .screen .slider-buttons div {
  width: 50px;
}

body .browser .container .browser-body .screen .slider-buttons div svg {
  padding: 5px;
  background-color: grey;
  border: 1px solid black;
}

body .browser .container .browser-body .screen .about-me {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

body .browser .container .browser-body .screen .about-me:hover .introduction svg {
  -webkit-animation: smileImageIN;
          animation: smileImageIN;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

body .browser .container .browser-body .screen .about-me .introduction {
  padding: 20px;
  width: 70%;
}

body .browser .container .browser-body .screen .about-me .introduction svg {
  position: absolute;
  right: -100%;
  bottom: -100%;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  width: 300px;
  -webkit-animation: smileImageOut;
          animation: smileImageOut;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

body .browser .container .browser-body .screen .about-me .introduction h2 span {
  margin: 10px 0px;
  display: block;
  font-size: 2em;
  letter-spacing: 4px;
}

body .browser .container .browser-body .sidebar {
  width: 20%;
}

body .browser .container .browser-body .sidebar ul li {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 180px;
  margin: 10px 0px;
}

body .browser .container .browser-body .sidebar ul li:hover a {
  -webkit-animation-name: flickeringText;
          animation-name: flickeringText;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

body .browser .container .browser-body .sidebar ul li svg {
  width: 100px;
}

body .browser .container .browser-body .sidebar ul li a {
  background-color: grey;
  padding: 10px;
  color: white;
  text-decoration: none;
}

@media (max-height: 900px) {
  body .browser {
    max-width: 1440px;
    max-height: 95%;
  }
  body .browser .container {
    height: 100%;
    display: block;
  }
  body .browser .container .browser-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90%;
  }
  body .browser .container .browser-body .screen {
    max-height: 80%;
  }
  body .browser .container .browser-body .screen .my-work .slider .project a {
    height: 75%;
  }
  body .browser .container .browser-body .screen .my-work .slider .project a img {
    margin: 0px;
    width: 100%;
    height: 500px;
    height: 95%;
  }
  body .browser .container .browser-body .screen .my-work .slider .project p {
    padding: 10px;
    font-size: 2em;
    -webkit-animation: flickeringborder 2s infinite alternate;
            animation: flickeringborder 2s infinite alternate;
    border: 8px solid black;
  }
  body .browser .container .browser-body .screen .my-work .slider .project p a {
    color: black;
    text-decoration: none;
  }
  body .browser .container .browser-body .sidebar {
    width: 20%;
  }
  body .browser .container .browser-body .sidebar ul {
    height: 90%;
  }
  body .browser .container .browser-body .sidebar ul li {
    height: 140px;
  }
  body .browser .container .browser-body .sidebar ul li svg {
    width: 80px;
  }
}

@-webkit-keyframes flickeringborder {
  0% {
    border-color: black;
  }
  50% {
    border-color: transparent;
  }
  70% {
    border-color: transparent;
  }
  100% {
    border-color: black;
  }
}

@keyframes flickeringborder {
  0% {
    border-color: black;
  }
  50% {
    border-color: transparent;
  }
  70% {
    border-color: transparent;
  }
  100% {
    border-color: black;
  }
}

@-webkit-keyframes flickeringText {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flickeringText {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes smileImageIN {
  from {
    position: absolute;
    right: -100%;
    bottom: -100%;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    width: 300px;
  }
  to {
    position: absolute;
    right: -30px;
    bottom: -10px;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    width: 300px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
}

@keyframes smileImageIN {
  from {
    position: absolute;
    right: -100%;
    bottom: -100%;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    width: 300px;
  }
  to {
    position: absolute;
    right: -30px;
    bottom: -10px;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    width: 300px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
}

@-webkit-keyframes smileImageOut {
  from {
    position: absolute;
    right: -30px;
    bottom: -10px;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    width: 300px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  to {
    position: absolute;
    right: -100%;
    bottom: -100%;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    width: 300px;
  }
}

@keyframes smileImageOut {
  from {
    position: absolute;
    right: -30px;
    bottom: -10px;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    width: 300px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  to {
    position: absolute;
    right: -100%;
    bottom: -100%;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */